<% layout('/layouts/boilerplate') %>
<div class="row">
  <h1 class="text-center mb-3">관광지 수정하기</h1>
  <div class="col-md-6 offset-md-3">
    <form
      action="/campgrounds/<%=campground._id %>?_method=PUT"
      method="POST"
      novalidate
      class="validated-form"
      enctype="multipart/form-data"
    >
  <div class="mb-3">
    <select
      class="form-select form-select mb-3"
      aria-label="Small select example"
      name="campground[trrsrtSe]"
      required
    >
      <% for (let category of categories) {%>
        <option value="<%=category %>" <%= (campground.trrsrtSe === category) ? 'selected' : ''%> ><%=category %></option>
      <% } %>
    </select>
  </div>
  <div class="col-auto mb-3">
    <select
      class="form-select form-select mb-3"
      aria-label="Small select example"
      name="campground[city]"
      required
    >
      <% for (let city of cities) {%>
        <option value="<%=city %>" <%= (campground.city === city) ? 'selected' : ''%> ><%=city %></option>
      <% } %>
    </select>
  </div>
      <div class="mb-3">
        <label class="form-label" for="title">관광지명</label>
        <input
          class="form-control"
          type="text"
          name="campground[trrsrtNm]"
          id="title"
          value="<%= campground.trrsrtNm %>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="location">위치</label>
        <input
          class="form-control"
          type="text"
          name="campground[addr]"
          id="location"
          value="<%= campground.addr %>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div id="map" class="mb-3"></div>
      <div class="mb-3">
        <label class="form-label" for="institution">관리기관</label>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            id="institution"
            placeholder="관리기관명"
            aria-label="institutionName"
            name="campground[institutionNm]"
            value="<%= campground.institutionNm %>"
            required
          />
          <span class="input-group-text">기준일자</span>
          <input
            type="text"
            class="form-control"
            id="institution"
            placeholder="기준일자"
            aria-label="referenceDate"
            name="campground[referenceDate]"
            value="<%= campground.referenceDate %>"
            required
          />
          <div class="valid-feedback">Looks good!</div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">소개정보</label>
        <textarea
          class="form-control"
          type="text"
          name="campground[trrsrtIntrcn]"
          id="description"
          rows="10"
          required
        >
<%= campground.trrsrtIntrcn %></textarea
        >
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="homepage">홈페이지</label>
        <input
          class="form-control"
          type="text"
          name="campground[homepageURL]"
          id="homepage"
          value="<%= campground.homepageURL %>"
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <div class="input-group mb-3">
          <input
            type="file"
            class="form-control"
            id="image"
            name="image"
            multiple
          />
          <label class="input-group-text" for="image">업로드</label>
        </div>
      </div>
      <div class="mb-3">
        <% campground.images.forEach(function(img, i) { %>
        <img src="<%= img.thumbnail %>" class="img-thumbnail" alt="" />
        <div class="form-check-inlink">
          <input
            type="checkbox"
            id="image-<%= i %>"
            name="deleteImages[]"
            value="<%= img.filename %>"
          />
          <label for="image-<%= i %>">삭제할까요 ?</label>
        </div>

        <% }) %>
      </div>
      <div class="mb-3">
        <button class="btn btn-info">수정하기</button>
      </div>
      <a href="/campgrounds/<%= campground._id %>">돌아가기</a>
    </form>
  </div>
</div>

<script>
  const mapToken = "<%- process.env.MAPBOX_TOKEN %>";
  const campground = <%- JSON.stringify(campground) %>;
</script>
<script src="/javascripts/editPageMap.js"></script>