<% layout('/layouts/boilerplate') %>
<div class="row">
  <h1 class="text-center mb-3">신규 입력하기</h1>
  <div class="col-md-6 offset-md-3">
    <form
      action="/campgrounds"
      method="POST"
      novalidate
      class="validated-form"
      enctype="multipart/form-data"
    >
      <div class="col-auto mb-3">
        <select
          class="form-select form-select mb-3"
          aria-label="Small select example"
          name="campground[trrsrtSe]"
          required
        >
          <option selected>분류를 선택하세요</option>
          <% for (let category of categories) {%>
          <option value="<%= category %>"><%=category %></option>
          <% } %>
        </select>
      </div>
      <div class="col-auto mb-3">
        <select
          class="form-select form-select mb-3"
          aria-label="Small select example"
          name="campground[city]"
          required
        >
          <option selected>지역을 선택하세요</option>
          <% for (let city of cities) {%>
          <option value="<%= city %>"><%=city %></option>
          <% } %>
        </select>
      </div>
      <div class="mb-3">
        <label class="form-label" for="title">관광지명</label>
        <input
          class="form-control"
          type="text"
          name="campground[trrsrtNm]"
          id="title"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="location">주소</label>
        <input
          class="form-control"
          type="text"
          name="campground[addr]"
          id="location"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="institution">관리기관</label>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            id="institution"
            placeholder="기관명을 입력하세요"
            aria-label="기관명"
            aria-describedby="instituion"
            name="campground[institutionNm]"
            required
          />
          <div class="valid-feedback">Looks good!</div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="referenceDate">기준일자</label>
        <input
          class="form-control"
          type="text"
          name="campground[referenceDate]"
          id="referenceDate"
          placeholder="정보기준일입력하세요(예:2023-10-15)"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">소개정보</label>
        <textarea
          class="form-control"
          type="text"
          name="campground[trrsrtIntrcn]"
          id="description"
          required
        ></textarea>
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="homepage">홈페이지</label>
        <input
          class="form-control"
          type="text"
          name="campground[homepageURL]"
          id="homepage"
          placeholder="홈페이지URL 입력해주세요"
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div id="map" class="mb-3"></div>
      <div class="mb-3">
        <label class="form-label" for="geocoord">위치(선택)</label>
        <input
          class="form-control"
          type="text"
          name="campground[geocoord]"
          id="geocoord"
          readonly
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="imageLink">사진링크등록</label>
        <input
          class="form-control"
          type="text"
          name="campground[imageURL]"
          id="imageLink"
          placeholder="사진URL 입력해주세요"
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label mb-3" for="image">사진파일등록</label>
        <div class="input-group mb-3">
          <input
            type="file"
            class="form-control"
            id="image"
            name="image"
            multiple
          />
          <label class="input-group-text" for="image">업로드</label>
        </div>
      </div>
      <div class="mb-3">
        <button class="btn btn-success">저장하기</button>
      </div>
      <div><a href="/campgrounds/?page=1">전체 관광지</a></div>
    </form>
  </div>
</div>

<script>
  const mapToken = "<%- process.env.MAPBOX_TOKEN %>";
</script>
<script src="/javascripts/newPageMap.js"></script>
